/* Courier Prime Code */
@font-face
{
	font-family: "Courier Prime Code";
	src: url(/fonts/Courier\ Prime\ Code.ttf);

	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Courier Prime Code";
	src: url(/fonts/Courier\ Prime\ Code\ Italic.ttf);

	font-weight: normal;
	font-style: italic;
}

/* Days One */
@font-face
{
	font-family: "Days One";
	src: url(/fonts/DaysOne-Regular.ttf);

	font-weight: normal;
	font-style: normal;
}