/* Tahoma */
@font-face {
    font-family: "Tahoma";
    src: url(/fonts/tahoma.ttf);

    font-weight: normal;
    font-style: normal;
}

/* Courier Prime Code */
@font-face
{
	font-family: "Courier Prime Code";
	src: url(/fonts/Courier\ Prime\ Code.ttf);

	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: "Courier Prime Code";
	src: url(/fonts/Courier\ Prime\ Code\ Italic.ttf);

	font-weight: normal;
	font-style: italic;
}