html
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #000000;
}

body
{
    display: flex;
    flex-direction: column;

    width: auto;
    height: 100%;
    aspect-ratio: 4 / 3;

    padding: 0;
    margin: 0 auto;

    background: url("/media/main/jeju.png") no-repeat center fixed;
    border: none;

    overflow: hidden;
}

#mainContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 1 auto;

    width: 100%;
    height: 100%;

    padding: 20px 0;
    margin: 0;
}

#mainWindow
{
    height: 100%;
    width: 62.5%;

    padding: 0;
    margin: 0 10px;
}

#mainContent
{
    width: 100%;
    height: 100%;

    padding: 0;
}

#mainContent iframe
{
    display: block;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    border: none;
}

/* sidebar */
#sidebar
{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 25%;

    padding: 0;
    margin: 0 10px;
}

#sidebar .window
{
    margin: 10px 0;
}

#sidebar > :first-child
{
    margin-top: 0;
}

#sidebar > :last-child
{
    margin-bottom: 0;
}

#sidebar .windowContent
{
    overflow: hidden;
}

#youtubeEmbed iframe
{
    display: block;

    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    zoom: 0.875;

    padding: 0;
    margin: 0;

    border: none;
}

#buttonMarquee .marquee
{
    padding: 0;
}

/* taskbar */
#taskbar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 auto;

    position: relative;
    z-index: 1;
    isolation: isolate;

    width: 100%;
    height: 4%;

    padding: 0;
    margin: 0;

    background: linear-gradient(#fcfcfe, #f4f3ee);
    border: 1px solid #d3cfb8;

    user-select: none;
}

#startButton
{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 125px;
    height: 100%;

    padding: 5px 10px;

    color: #ffffff;
    font-style: italic;
    font-size: 1.125rem;

    background: #9460a9;

    border: 3px solid;
    border-color: #c088c2 #725296 #725296 #c088c2;
    border-top-right-radius: 10%20px;
    border-bottom-right-radius: 10%20px;
}

#startButton:hover
{
    background: #b775bd;
}

#startButton:active
{
    background: #9460a9;
    border-color: #725296 #c088c2 #c088c2 #725296;
}

#startButton img
{
    width: 24px;
    height: 24px;
    aspect-ratio: 1 / 1;

    padding: 0;
    margin: 0 10px 0 0;
}

#taskbarContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0 10px;
}

.taskbarItem
{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 15%;
    height: 100%;

    padding: 0 10px;

    background: linear-gradient(#fcfcfe, #f4f3ee);
    border: 2px solid;
    border-color: #ffffff #888888 #888888 #ffffff;
    border-radius: 4px;
}

.taskbarItem img
{
    width: 18px;
    height: 18px;

    margin-right: 10px;
}

.taskbarItem p
{
    width: 100%;
    height: auto;

    padding: 0;
    margin: 0;

    font-size: 0.875rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

.taskbarItem:active
{
    border-color: #888888 #ffffff #ffffff #888888;
}

#notificationArea
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    height: 100%;
    width: 10%;

    padding: 0 10px;

    color: #000000;

    background: linear-gradient(#fcfcfe, #f4f3ee);
    border: 3px solid;
    border-color: #888888 #ffffff #ffffff #888888;
    border-top-left-radius: 10%20px;
    border-bottom-left-radius: 10%20px;
}

/* start menu */
#startMenu
{
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 100%;
    left: 0;

    width: 25%;
    height: 45vh;

    padding: 0;
    margin: 0;

    background: #9460a9;

    border: 3px solid;
    border-color: #c088c2 #725296 #725296 #c088c2;
    border-radius: 8px 8px 0 0;

    animation: 100ms ease-in-out fadeIn forwards;
}

@keyframes fadeIn
{
    from
    {
        opacity: 0%;
    }

    to
    {
        opacity: 100%;
    }
}

#userInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 5px;

    color: #ffffff;
    font-size: 1.25rem;
}

#userInfo img
{
    width: 64px;
    height: 64px;

    margin-right: 10px;

    border: 2px solid #ffffff;
    border-radius: 8px;
}

#userInfo p
{
    margin: 0;
}

#innerContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid #d3cfb8;
}

#innerContainer #leftHalf
{
    flex: 1.375 0 auto;

    width: auto;
    height: 100%;

    background: linear-gradient(#fcfcfe, #f4f3ee);
}

#innerContainer #rightHalf
{
    flex: 1 0 auto;

    width: auto;
    height: 100%;

    background: #edead7;
}