*
{
    box-sizing: border-box;

    scrollbar-color: #9460a9 transparent;
}

*::selection
{
    background-color: #9460a9;
    color: #ffffff;
}

html
{
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    overflow: hidden;

    color: #000000;
    font-family: "Tahoma";
}

body
{
    width: 100%;
    height: 100%;

    padding: 15px;
    margin: 0;

    overflow-y: scroll;
    overflow-x: hidden;

    background: linear-gradient(#fcfcfe, #f4f3ee) fixed;
    border: 1px solid #d3cfb8;
}

/* marquee */
.marquee
{
    display: flex;
    flex-direction: row;

    width: auto;
    height: auto;

    padding: 0;
    margin: 0;

    --marqueeGap: 1rem;
    gap: var(--marqueeGap);

    overflow: hidden;
}

.marquee .marqueeContent
{
	display: flex;
	flex-shrink: 0;
	justify-content: space-around;

	min-width: 100%;

	padding: 0;
	margin: 0;

	gap: var(--marqueeGap);

	animation: marquee var(--marqueeDuration) linear infinite;
	animation-play-state: paused;
}

@keyframes marquee
{
	0%
	{
		transform: translateX(0);
	}

	100%
	{
		transform: translateX(calc(-100% - var(--marqueeGap)));
	}
}

/* misc */
.webButton
{
    display: block;

    width: 88px;
    height: 31px;

    padding: 0;
    margin: 0;

    text-decoration: none;
}

/* special styles */
.indent, .cutout
{
    width: 100%;
    height: fit-content;

    padding: 10px 20px;

    border: 3px solid;
    border-color: #888888 #ffffff #ffffff #888888;
}

.indent
{
    color: #000000;

    background: linear-gradient(#fcfcfe, #f4f3ee) fixed;

}

.cutout
{
    color: #ffffff;

    background: url(/media/main/purpleBricks.png) fixed;
}

.cutout ::selection
{
    background-color: #ffffff;
    color: #9460a9;
}

img.indent, img.cutout
{
    padding: 0;
}

a:is(.indent, .cutout)
{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}

a:is(.indent, .cutout) .icon
{
    width: 32px;
    height: 32px;

    padding: 0;
    margin: 0 20px 0 0;

    user-select: all;
}

a:is(.indent, .cutout):hover
{
    color: #ffffff;

    background: #9460a9;
}

a.indent:active
{
    color: #000000;

    background: transparent;
}

a.cutout:active
{
    color: #ffffff;

    background: url(/media/main/purpleBricks.png) fixed;
}

/* misc. */
h1, h2, h3, h4, h5, h6, a
{
    color: #9460a9;
}

.cutout :is(h1, h2, h3, h4, h5, h6, a)
{
    color: #ffffff;
}

hr
{
    margin-right: 50%;

    border: 2px solid #9460a9;
    border-radius: 50em;
}

.cutout hr
{
    border: 2px solid #ffffff;

    margin-right: 50%;
}

a
{
    font-weight: bold;
}

a:hover
{
    text-decoration-thickness: 2px;
}

a:has(img)
{
    padding: 0;
    margin: unset;

    line-height: 0;
}

a img
{
    vertical-align: middle;
}