html, body
{
	width: 100vw;
	height: 100vh;

	padding: 0;
	margin: 0;

	background: transparent;
}

body
{
	flex-direction: column;

	aspect-ratio: unset;
}

body > :first-child
{
	margin-top: 0;
}

body > :last-child
{
	margin-bottom: 0;
}

.window
{
	width: 100vw;
	height: auto;

	padding: 0;
	margin: 10px 0;
}

/* youtube video */
#youtubeEmbed .windowContent
{
	padding: 0;

	overflow-y: hidden;
}

#youtubeEmbed iframe
{
	width: 100%;
	height: auto;

	padding: 0;
	margin: 0;
}

/* button marquee */
#webButtons .windowContent
{
	padding: 10px;

	overflow-y: hidden;
}

/* last.fm */
.windowContent:has(#listening)
{
	min-height: 110px;

	padding: 20px;

	overflow-y: hidden;
}

#listening
{
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100%;
}

#listening img
{
	width: auto;
	height: auto;

	padding: 0;
	margin: 0 20px 0 0;
}

#trackName, #artistName
{
	margin: 0;
}

/* changelogs */
#changelog
{
	flex-grow: 1;

	overflow: hidden;
}

#changelog .windowContent
{
	height: 100%;
}

#changelog ul
{
	padding: 0;

	list-style: none;
}

#changelog li
{
	margin: 16px 0;
}

#changelog li::before
{
	content: "* ";
}