html
{
    background: url("media/purpleBricks.png") fixed;
    background-size: 25%;

    font: normal normal bold 16px courier new;

    overflow-y: scroll;
}

body
{
    margin: 0;
    padding: 0;
}

.container
{
    box-sizing: border-box;
    
    width: 875px;
    height: auto;


    margin: 0 auto;
}

/* Banner */
.banner
{
    width: auto;
    
    margin: 0px;
    padding: 0px;
}

.banner img
{
    object-fit: fill;
  
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;

    vertical-align: middle;
}

/* Navigation Links */
.navLinks
{
    color: #ffffff;
    text-align: center;
    font-size: 24px;

    width: auto;
    height: auto;

    margin: 0px;
    padding: 0px;
}

.navLinks li
{
    text-align: center;

    display: inline-block;

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;

    padding: 10px;
}

.navLinks a
{
    color: #ffffff;
}

.navLinks a:hover
{
    color: #9460a9;
}

.navLinks .active
{
    color: #d3bccc;
    text-decoration: none;
}

/* Breadcrumbs */
.crumbBar
{   
    font-size: 20px;

    width: auto;
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.crumbBar a
{
    color: #ffffff;

    margin: 0px;
}

.crumbBar a:hover
{
    color: #4a306d;
}

/* Main */
.flex
{
    display: flex;
}

.main
{
    width: 575px;
    height: auto;
    box-sizing: border-box;

    padding: 15px;
}

iframe
{
    width: auto;

    padding: 0px;
    margin: 0px;
}

/* Footer */
footer
{
    text-align: center;

    width: auto;

    padding: 15px;

    overflow: hidden;
}

/* Featured Art */
.artShowcase
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;

    padding: 5px;
    margin: 5px;
}

.artShowcase img
{
    object-fit: cover;
    
    width: 150px;
    height: 150px;

    vertical-align: middle;
}

/* Blog */
.blogpost
{
    width: auto;
    height: auto;

    padding: 15px;
    margin: 5px;
}

.blogTitle
{
    color: #9460a9;
}

.blogTitle:hover
{
    color: #4a306d;
}

/* Gallery */
details summary
{
    padding: 5px;
}

.detailsBox
{
    padding: 0px 15px;
}


.detailsBox .button img
{
    border-width: 0px;

    width: 88px;
    height: 31px;
}

.detailsBox img
{
    object-fit: cover;
    
    width: 175px;
    height: 175px;

    padding: 0px;
    margin: 0px;
}

.detailsBox a
{
    color: #ffffff;
}

.detailsBox a:hover
{
    color: #4a306d;
}

/* Misc. */
.heading
{
    color: #4a306d;
    font-size: 32px;
    line-height: 48px;

    margin: 0px;
}

p, sub
{
    word-break: normal;

    margin: 10px 0px;
}

hr
{
    color: #9460a9;
}

strong
{
    color: #7800ac;
}

/* grey style */
.main, footer, .blogpost, .profile, .detailsBox img, .artShowcase img, iframe
{
    color: #000000;
    
    background-color: #dadada;

    border-style: solid;
    border-width: 3px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #666666;
    border-right-color: #666666;
}

/* purple style */
.banner, .crumbBar, .artShowcase, details summary, .detailsBox
{
    color: #ffffff;
    
    background-color: #9460a9;

    border-style: solid;
    border-width: 3px;
    border-top-color: #d3bccc;
    border-left-color: #d3bccc;
    border-bottom-color: #4a306d;
    border-right-color: #4a306d;
}