body 
{	
	font: normal bold 20px courier;
	color: #ffffff;
	
	background: #775e8c;
	background-size: cover;
}

h1, h2, h3
{
	color: #000000;
	text-align: center;
	
	background-color: #d1d1d1;
	padding: 5px;
	margin: 10px;
	
	border-style: solid;
	border-bottom-color: #6e6e6e;
	border-right-color: #6e6e6e;
	border-top-color: #e3e3e3;
	border-left-color: #e3e3e3;
	
	box-shadow: 2px 4px 4px #402e4a;
	
	width: 1000px;
}

p
{
	text-shadow: 1px 3px 2px #402e4a;
	
	margin: 10px;
	padding: 10px;
}

li
{
	text-shadow: 1px 3px 2px #402e4a;
	display: block;
}

img
{
	border-style: solid;
	border-bottom-color: #6e6e6e;
	border-right-color: #6e6e6e;
	border-top-color: #e3e3e3;
	border-left-color: #e3e3e3;
	
	margin: 10px;
	
	box-shadow: 2px 4px 4px #402e4a;
	
	transform: rotate(-5.625deg);
}