html
{
    background-color: #dadada;
    font: normal normal bold 16px courier new;

    overflow-y: scroll;
}

body
{
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sideBar
{
    width: 300px;
    height: auto;
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;
}

.notionTitle
{
    text-align: center;
    
    width: 100%;
    height: auto;

    box-sizing: border-box;
}

.notion
{
    padding: 10px;
}

.cosmetics
{
    height: auto;

    line-height: 0px;

    padding: 5px;
    margin: 0px;
}

.button
{
    line-height: 0px;

    padding: 0px;
    margin: 0px;
}

.cosmetics a
{
    text-decoration: none;
}

/* Blog */
.sideBar .blogpost
{
    margin: 0px;
}

.blogpost
{
    width: auto;
    height: auto;

    padding: 15px;
    margin: 5px;
}

.blogTitle
{
    color: #9460a9;
}

.blogTitle:hover
{
    color: #4a306d;
}

/* Button Shill */
.buttonShill
{
    text-align: center;
    
    padding: 5px;
}

.buttonShill a
{
    color: #ffffff;
}

.buttonShill a:hover
{
    color: #4a306d;
}

/* Youtube Embed */
.youtubeEmbed
{
    display: block;

    padding: 0px;
    margin: 0px;
}

/* Misc. */
.heading
{
    color: #4a306d;
    font-size: 32px;
    line-height: 48px;

    margin: 0px;
}

p, sub
{
    word-break: normal;

    margin: 10px 0px;
}

hr
{
    color: #9460a9;
}

strong
{
    color: #7800ac;
}

img
{
    image-rendering: crisp-edges;
}

/* grey style */
.blogpost, .notion, .youtubeEmbed
{
    color: #000000;
    
    background-color: #dadada;

    border-style: solid;
    border-width: 3px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #666666;
    border-right-color: #666666;
}

/* purple style */
 .notionTitle, .cosmetics, .buttonShill
{
    color: #ffffff;
    
    background-color: #9460a9;

    border-style: solid;
    border-width: 3px;
    border-top-color: #d3bccc;
    border-left-color: #d3bccc;
    border-bottom-color: #4a306d;
    border-right-color: #4a306d;
}