#songGrid
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.track
{
	width: calc(100% / 3);
	height: auto;

	transition: all 32.5ms ease-in-out;
}

.track:hover
{
	transform: scale(105%) rotate(1.40625deg);
}

.trackCover
{

	aspect-ratio: 1 / 1;

	width: 100%;
	height: 100%;
}

#musicWindow
{
	width: 75%;
	height: auto;
}

#musicWindow .windowContent
{
	display: flex;
	flex-direction: row;
	align-items: center;

	overflow-y: hidden;
}

#bigCover
{
	aspect-ratio: 1 / 1;

	width: 25%;
	height: 25%;

	padding: 0;
	margin: 0 40px 0 0;
}

#trackName
{
	font-size: 3em;

	margin: 20px 0;
}