.windowContent
{
	overflow: hidden;
	padding-bottom: 20px;
}

#return
{
	display: block;

	width: 100%;
}

#return button
{
	width: 100%;
	height: 2.5em;

	padding: 4px;
	margin: 0;
}

#return button:active
{
	padding: 9px 0;
}