.webButton
{
	margin: 5px;
}

#buttonWall .webButton img:hover
{
	transition: all 50ms ease-in-out;
	transform: scale(1.05);
	
	-webkit-filter: drop-shadow(3px 3px 4px #0000005a);
	filter: drop-shadow(3px 3px 4px #0000005a);
	image-rendering: pixelated;
}