.masonryGrid
{
	width: 100%;
	height: fit-content;
	
	padding: 15px;
	margin: 0;
}

.masonryContent
{
	display: grid;
	grid-auto-flow: dense;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
	grid-template-rows: masonry;
	gap: 15px;
}

.gridItem
{
	width: 100%;
	height: fit-content;
	
	transition: all 50ms ease-in-out;
}

.gridItem img
{
	width: 100%;
	height: fit-content;

}

.gridItem:hover
{
	transform: scale(102.5%) rotate(calc(45deg / 37.5));
}