.category
{
	padding: 10px;
}

#artGrid
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}

.gridImage
{
	flex: 0 1 auto;
	display: block;

	padding: 0;
	margin: 15px;
}

.gridImage img
{
	width: auto;
	height: auto;

	object-fit: cover;
	
	transition: all 50ms ease-in-out;
}

.gridImage img:hover
{
	scale: 1.025;

	transform-origin: center;
	transform: rotate(1.40625deg);
}