#artShowcase
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding: 5px;
}

.artCard
{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: calc(100% / 3);
	height: auto;

	padding: 0;
	margin: 10px;

	transition: all 50ms ease-in-out;
}

.cardThumbnail
{
	width: 100%;
	height: auto;

	aspect-ratio: 1 / 1;

	object-fit: cover;
}

.artCard:hover
{
	transform: scale(102.5%) rotate(calc(45deg / 37.5));
}