*
{
	box-sizing: border-box;
}

html
{
	width: 100vw;
	height: 100vh;

	padding: 0;
	margin: 0;

	font-family: "Courier Prime Sans";
	font-size: 1.125em;

	background: #000000;
}

body
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: auto;
	height: 100vh;

	padding: 10px;
	margin: 0 auto;
	
	aspect-ratio: 4 / 3;

	background: url(/media/main/purpleBricks.png) center/25em fixed;
	image-rendering: pixelated;
}

/* window styling */
.window
{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0;
	margin: 5px;

	border: solid 3px;
	border-color: #ffffff #000000 #000000 #ffffff;
}

.titleBar
{
	display: flex;
	align-items: center;
	flex-shrink: 0;

	width: 100%;
	height: 36px;

	padding: 0 5px 0 10px;
	margin: 0;

	color: #ffffff;
	background: linear-gradient(90deg, #9460a9, #bc8dcf);

	user-select: none;
}

.title
{
	width: auto;

	margin: 0 7px;

	line-height: 0;
	text-wrap: nowrap;
}

.barIcon
{
	width: 100%;
	height: 100%;

	padding: 10px;
	margin: 0 auto;
}

.barSeparator
{
	width: 100%;

	margin: 0 15px;
}

.barButton
{
	flex-shrink: 0;

	width: 24px;
	height: 24px;

	margin: 0;

	text-align: center;
}

.barButton img
{
	width: 100%;
	height: 100%;

	image-rendering: initial;
}

.windowContent
{
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 0 20px;
	margin: 0;

	background: linear-gradient(#eeeeee, #dddddd) fixed;

	overflow-y: scroll;
	scrollbar-color: #9460a9 transparent;
}

.windowContent ::selection
{
	color: #ffffff;
	background-color: #9460a9;
}

/* universal content */
#main
{
	width: 62.5%;
	height: 100%;
}

#sidebar
{
	width: 30%;
	height: 100%;

	margin: 5px;
}

#sidebar iframe
{
	width: 100%;
	height: 100%;

	border: none transparent;
}

nav
{
	width: 100%;
	height: auto;
}

#navLinks
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: auto;

	padding: 0;
	margin: 20px 0;

	list-style: none;

	font-family: "Days One";
	font-size: 1em;
	font-weight: normal;
	text-align: center;
}

#navLinks li
{
	display: block;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0 auto;

	transition: all 75ms ease-out;
}

#navLinks li::before
{
	content: "";
}

#navLinks a
{
	display: block;
	
	width: 100%;
	height: 100%;

	padding: 20px 0;
	margin: 0;
	
	text-decoration: none;
	
	transition: all 75ms ease-out;
}

#navLinks li:hover a
{
	scale: 115%;

	text-shadow: 3px 3px 8px #3b1f45;
}

footer
{
	font-size: calc(1em / 1.25);
	text-align: center;
}

#pageTop
{
	width: 100%;
	height: 2.5em;

	padding: 4px;
	margin: 0 0 20px 0;
}

#pageTop:active
{
	padding: 9px 0;
}

/* styles */
.indent
{
	padding: 0 20px;
	margin: 20px 0;

	border: solid 3px;
	border-color: #000000 #ffffff #ffffff #000000;
}

.cutout
{
	padding: 0 20px;
	margin: 20px 0;

	color: #ffffff;

	background: url(/media/main/purpleBricks.png) center/25rem fixed;
	image-rendering: pixelated;

	border: solid 3px;
	border-color: #000000 #ffffff #ffffff #000000;
}

.cutout ::selection
{
	color: #9460a9;
	background-color: #ffffff;
}

/* marquee */
.marquee
{
	display: flex;

	width: auto;
	height: auto;

	padding: 0;
	margin: 0;

	--gap: 1rem;
	gap: var(--gap);

	overflow: hidden;
}

.marquee #content, .marquee #contentClone
{
	display: flex;
	flex-shrink: 0;
	justify-content: space-around;

	min-width: 100%;

	padding: 0;
	margin: 0;

	gap: var(--gap);

	animation: marquee 1s linear infinite;
}

@keyframes marquee
{
	0%
	{
		transform: translateX(0);
	}

	100%
	{
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/* misc */
.webButton
{
	width: 88px;
	height: 31px;

	padding: 0;
	margin: 0;

	image-rendering: auto;
}

header
{
	margin: 20px 0 10px 0;

	color: #9460a9;

	font-size: 1.75em;
	font-weight: bold;
}

.cutout header
{
	color: #ffffff;
}

.cutout strong
{
	color: #ffffff;
}

p, pre
{
	margin: 20px 0;
}

pre
{
	font-size: 1.125em;
}

a
{
	color: #9460a9;
	font-weight: bold;
}

a:hover
{
	text-decoration-thickness: .175em;
}

.cutout a
{
	color: #ffffff;
}

a.indent
{
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0 15px;
	margin: 10px 0;

	color: #000000;
	line-height: normal;
	font-size: 1.125em;
	font-weight: normal;
	text-decoration: none;
}

a.indent:hover
{
	background-color: #dddddd;
}

a.indent img
{
	margin: 0 15px 0 0;
}

a:has(img)
{
	display: block;

	font-size: 0;
	line-height: 0;
}

a:has(button) button
{
	font-size: inherit;
}

img.intext
{
	margin: 20px 0;
	padding: 0;
}

hr
{
	margin: 0;
	margin-right: 37.5%;

	border: solid 2px #9460a9;
	border-radius: 100em;
}

.cutout hr
{
	border: solid 2px #ffffff;
}

ul
{
	list-style: none;
}

li::before
{
	content: "* ";
}

details summary
{
	margin: 20px 0;

	font-weight: bold;

	cursor: pointer;
}

ul
{
	padding-left: 20px;
}

strong
{
	color: #9460a9;
}

button
{
	width: 100%;
	height: 2.5em;
	
	padding: 1px;
	margin: 0 0 20px 0;

	color: #000000;
	font-family: "Courier Prime Code";

	background-color: #dddddd;

	border: solid 3px;
	border-color: #ffffff #000000 #000000 #ffffff;

	cursor: pointer;
}

button:active
{
	padding: 3px;
	
	border-color: #000000 #ffffff #ffffff #000000;
}

button:not(.barButton)
{
	font-size: calc(1em / 1.25);
}

button:not(.barButton):active
{
	padding: 8px;
	
	border-color: #000000 #ffffff #ffffff #000000;
}

.signature
{
	color: #9460a9;
	font-weight: bold;
	font-style: italic;
	font-size: 1.75em;

	text-align: right;
}