html, body
{
	padding: 0;
	margin: 0;

	background: transparent;
}

body
{
	display: inline-flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	aspect-ratio: unset;
}

body div:first-of-type
{
	margin-top: 0;
}

body div:last-of-type
{
	margin-bottom: 0;
}

.window
{
	width: 100%;

	padding: 0;
	margin: 5px 0;
}

.windowContent
{
	overflow-y: hidden;
}

/* youtube embed */
#youtubeEmbed .windowContent
{
	padding: 0;
}

#youtubeEmbed iframe
{
	width: 100%;
	height: auto;

	padding: 0;
	margin: 0;
}

/* web buttons */
#webButtons .windowContent
{
	padding: 10px;
}

/* last.fm */
.windowContent:has(#listening)
{
	min-height: 110px;

	padding: 20px;
}

#listening
{
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100%;
}

#listening img
{
	width: auto;
	height: auto;

	padding: 0;
	margin: 0 20px 0 0;
}

#trackName, #artistName
{
	margin: 0;
}

/* changelog */
#changelog
{
	flex-grow: 1;

	overflow: hidden;
}

#changelog .windowContent
{
	height: 100%;

	overflow-y: scroll;
}