#buttonWall
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#buttonWall .webButton
{
    transition: all 25ms ease-in-out;
}

#buttonWall .webButton:hover
{
    transform: scale(1.05);
    filter: drop-shadow(2px 4px 4px #00000080);
}

#buttonWall .webButton:active
{
    transform: scale(1.02);
    filter: drop-shadow(1px 2px 2px #000000a9);
}