html
{
    font-family: "Courier Prime Code";
}

/* page stuff */
#banner
{
    width: 100%;
}

footer
{
    text-align: center;
}

.sticker
{
    max-width: 256px;
    max-height: 256px;

    padding: 0;
    margin: 0;

    image-rendering: pixelated;

    transition: all 100ms ease-in-out;
}

.sticker:hover
{
    transform: scale(102.5%) rotate(-1deg);

    filter: drop-shadow(2px 2px 3px #00000080);
}